```bash
kubectl -n logging-system logs -l app=elasticsearch-aio
```

```bash
kubectl -n logging-system get certificates
kubectl -n logging-system get secrets
kubectl -n logging-system get issuers
```